#SearchDiv {
	vertical-align: top;
}
.sortDiv {
	display: inline-block;
}
.invertSortLabel {
	display: block;
}
.invertSortP {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
}

#FilterDiv {
	/*display: inline-block;*/
	max-width: 950px;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
#FilterDiv h2 {
	width: fit-content;
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 50px;
	padding-right: 50px;
}
#FiltersDiv {
	display: none;
	cursor: pointer;
}
#FiltersDiv p {
	margin-top: 0;
	margin-bottom: 0;
}
.filterLabel {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
.filtersDivGroup1 {
	display: block;
}
.filtersDivGroup2 {
	display: inline-block;
	width: 30%;
	vertical-align: top;
}
.filtersMultiSelect {
	height: 100px;
}

.row1Group {
	display: inline-block;
}
.row1Group:not(:first-child) {
	margin-left: 10px;
}
.row1Group:not(:last-child) {
	margin-right: 10px;
}
.tierSubGroup {
	text-align: left;
	vertical-align: top;
}
.figureSetSubGroup {
	
}
.figureSetSubGroup checkbox {
	
}
.figureSetSubGroup label {
	
}
.row1Column {
	display: block;
}
.row1Column:not(:first-child) {
	margin-top: 10px;
}
#keepX0 {
	vertical-align: top;
	line-height: 30px; 
	margin-left: 20px;
}

.downArrowImg {
	height: 32px;
	line-height: 32px;
	vertical-align: top;
}