.rowCol {
	display: inline-block;
	vertical-align: top;
}
#PointsSystemOptions label {
	display: block;
	text-align: left;
}

.minMaxGroup {
	display: block;
	padding-bottom: 15px;
}
.minMaxGroupTitle {
	display: block;
}
.minMaxGroupBody {
	display: block;
}

.searchGroup {
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#NumPlayers label,
#LiveOnlineType label {
	display: block;
	text-align: left;
}

.formatTagDiv {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
}

#SearchDiv input[type=number] {
	width: 40px !important;
}